Include ~/.orbstack/ssh/config

Host traugutt
	HostName traugutt.eu
	Port 2233
	User bartek
	IdentityFile ~/.ssh/id_rsa
	ForwardAgent yes
Host insideHome
	HostName 192.168.1.5
	User wiaderek
	IdentityFile ~/.ssh/id_rsa
Host secondTraugutt
    HostName 10.10.1.2
    Port 2233
    User bartek
    ProxyJump traugutt
Host home
	HostName ssh.wiaderek.cloud
	User wiaderek
	ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h
	IdentityFile ~/.ssh/id_rsa
Host *
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_rsa
Host homeserver
	HostName 192.168.1.72
	User root 
	IdentityFile ~/.ssh/id_rsa
